URxvt*font: xft:Hack:size=12:antialias=true:hinting=true,xft:IPAGothic:size=10,xft:Baekmuk Gulim:size=12,xft:Noto Color Emoji:size=10
! ------------------------------------------------------------------------------
!  Colors
! ------------------------------------------------------------------------------
!
! ------------------------------------------------------------------------------

#define base00 #212121
#define base01 #303030
#define base02 #353535
#define base03 #4A4A4A
#define base04 #B2B2C2
#define base05 #EEFFFF
#define base06 #EEFFFF
#define base07 #FFFFFF
#define base08 #F07178
#define base09 #F78C6C
#define base0A #FDF200
#define base0B #13CA91
#define base0C #00FECA
#define base0D #7898FB
#define base0E #FF2079
#define base0F #FF5370

!  URxvt
! ------------------------------------------------------------------------------

*foreground:   base05
*background:   base00
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

URxvt.cursorBlink: true

URxvt.lineSpace           : 0
URxvt.letterSpace         : 0
URxvt.scrollBar           : false
URxvt.internalBorder      : 10
URxvt.cursorUnderline     : false
URxvt.geometry            : 92x24
URxvt.thickness           : 1
URxvt.titleBar            : false
URxvt.intensityStyles     : false

URxvt.iso14755: false

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.keysym.Control-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste_escaped
URxvt.keysym.Control-V: perl:clipboard:paste

!! Copy Paste & Other Extensions
URxvt.perl-lib: /home/pedrolucas/.urxvt/
URxvt.perl-ext: mark-and-yank
URxvt.perl-ext-common: default,clipboard,keyboard-select
URxvt.copyCommand: xclip -sel clip
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:mark-and-yank:activate_mark_url_mode
URxvt.keysym.M-y: perl:mark-and-yank:activate_mark_mode
URxvt.urlLauncher: firefox 
URxvt.underlineURLs: true
URxvt.urlButton: 1


URxvt.matcher.button  : 1

! ------------------------------------------------------------------------------
! rofi
! ------------------------------------------------------------------------------
rofi.color-enabled: true


rofi.color-normal:                   argb:ff0d0f12, #dfdfdf, argb:00000099, argb:ff0d0f12,#973B53

! State:                                 'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-urgent:                   argb:00000000, #D75656, argb:00000000, #FFFFFF, #FFFFFF

rofi.color-active:                   argb:00000000, #487173, #000000, argb:00000000, #973b53

rofi.color-window:                   argb:ff0d0f12, #FFF, argb:ffdfdfdf
!                                    'background', 'border', 'separator'

rofi.width             : 90
rofi.lines             : 10
rofi.columns           : 3
rofi.padding           : 50
rofi.font              : Hack 10 
rofi.modi              : window,run,drun

rofi.bw: 0
rofi.br: 5
rofi.location: 0
rofi.yoffset: -200

rofi.fixed-num-lines:                false
rofi.terminal:                       urxvt
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e {ssh-client} {host}
rofi.run-command:                    {cmd}
rofi.parse-hosts:                    true
rofi.matching:                       normal
rofi.separator-style:                none
rofi.scrollbar-width:                2
rofi.kb-mode-next:                   Shift+Right,Control+Tab,Alt+l,bracketright,
rofi.kb-mode-previous:               Shift+Left,Control+Shift+Tab,Alt+h,bracketleft,
rofi.kb-row-up:                      Up,Control+p,Shift+Tab,Shift+ISO_Left_Tab,Alt+k
rofi.kb-row-down:                    Down,Control+n,Alt+j
rofi.display-window:                 Currently Open
rofi.display-run:                    Execute
rofi.display-drun:                   Applications
rofi.eh:                             1
rofi.line-margin:                    2
rofi.line-padding:                   3
rofi.opacity: 100


